<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Post Page</title>
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
</head>
<body>
  <div class="insideContainer">
      <div class="welcomeLeft">
        <h1> Welcome </h1>
        <% info.forEach(function (data){ %>
          <h3><%=data.user_name %></h3>
        <% }) %>
      </div>
      <div class="nav">
        <% info.forEach(function (data){ %>
          <a href= <%= "/users/" + data.id + "/posts/new" %>> New Post </a><span> | </span>
          <a href= <%= "/users/" + data.id + "/posts" %>> My Posts </a><span> | </span>
          <a href= <%= "/users/" + data.id + "/comments"%>> My Comments </a><span> | </span>
        <% }) %>
        <a href="/users">User Info</a>
      </div>
      <div class="logout">
        <a href="/logout">Log out</a>
      </div>
  </div>
  <div class="bg2"></div>
  <% usersAndPosts.forEach(function (post){ %>
    <div class="container">
      <h3 class="title"><%=post.title %></h3>
      <p class="body"><%=post.body %></p>
      <h4 class="user"><%=post.user_name %></h4>
      <div class="containerLinks">
        <a href= <%= "/users/" + post.id + "/comments/new" %>> Add Comment </a><span> | </span>
        <a href= <%= "/posts/" + post.id + "/comments" %>> View Comments </a>
      </div>
    </div>
  <% }) %>

</body>
</html>
